<%- partial('_partial/header',{breadCrumb: []}) %>
<div id="social" class="aniview" av-animation="pulse">
    <div class="cb-bar"><span class="cb-title"><%= __('cb-info.title') %></span><span class="arrow to-close-arrow"></span></div>
    <div class="cb-content">
        <span><%= __('cb-info.weibo') %>:<a rel="nofollow" href="http://weibo.com/u/5611147429" target="_blank">@Yanmin-x</a></span>
        <span><%= __('cb-info.toutiao') %>:<a rel="nofollow" href="http://toutiao.io/u/181364" target="_blank">@Yanmin-x</a></span>
        <span>Github:<a rel="nofollow" href="http://github.com/ellmi" target="_blank">@Yanmin-x</a></span>
        <% if (theme.rss){ %>
        <span>Feed:<a rel="nofollow" href="<%- theme.rss %>" title="RSS Feed">Rss</a></span>
        <% } %>
    </div>
</div>
<div id="email" class="aniview" av-animation="pulse">
    <div class="cb-bar"><span class="cb-title"><%= __('cb-email.title') %></span><span class="arrow to-close-arrow"></span></div>
    <div class="cb-content">
    <input name="realname" placeholder="<%= __('cb-email.name') %>"/>
    <input name="email" placeholder="<%= __('cb-email.email') %>"/>
    <textarea cols="40" rows="10" name="Message" placeholder="<%= __('cb-email.message') %>"></textarea>
    <br/>
    <input type="submit" value="<%= __('cb-email.send') %>"/>
    </div>
</div>
<%- partial('_partial/copyright') %>