<%- partial('_partial/header',{breadCrumb: []}) %>
<%- partial('_partial/nav-bar') %>
<div class="blog-index-container">
    <% page.posts.sort('date', -1).each(function(post) { %>
    <%- partial('_partial/article-index', {post: post}) %>
    <% }) %>
</div>
<% if (page.total > 1){ %>
<nav id="pagination">
    <%- paginator({
        prev_text: '&laquo;',
        next_text: '&raquo;'
    }) %>
</nav>
<% } %>
<%- partial('_partial/copyright') %>