<div class="homepage">
    <div class="home-title">
        <h1>2015</h1>

        <div>
            <span><%= __('homepage.fir') %></span>
            <span class="black"><%= __('homepage.sec') %></span>
        </div>
        <br>

        <div>
            <span><%= __('homepage.thi') %></span>
            <span class="black"><%= __('homepage.fou') %></span>
            <span><%= __('homepage.fiv') %></span>
        </div>
    </div>
</div>
