<%- partial('_partial/head') %>
<body>
<%
var pageType;
if (is_home()) {
    pageType = "home";
} else {
    pageType = "others";
}
%>
<div id="PageContainer" class="<%= pageType%>">
    <%- partial('_partial/sidebar', null, {cache: true}) %>
    <div id="content">
        <%- body %>
    </div>
</div>
<%- partial('_partial/after-footer') %>
</body>
</html>
