<div class="header">
    <%- partial('_partial/language') %>
</div>
<div id="about-me">
    <h2 class="title-bar">朋友说</h2>
    <div class="remark default-slider">
        <ul>
            <li>
                <div><img class="friend-portrait" src="<%- theme.sourceRoot %>/css/images/sen.jpg">
                    <span class="icon-play3"></span><span class="friend-remark">我家宝贝，独立的个性中充满依赖，严肃的神情中泛着古怪，官腔中夹杂着柔弱浪漫……矛盾已然是她的代名词</span>
                </div>
            </li>
            <li>
                <div><img class="friend-portrait" src="<%- theme.sourceRoot %>/css/images/dian.jpg">
                    <span class="icon-play3"></span><span class="friend-remark">坚强、好强起来，敬你是条汉子，无所畏惧！温柔、善良起来，敬你是软妹子，楚楚可人！喜欢猫咪,是一个有弹性且既有爱又有趣之人。</span>
                </div>
            </li>
            <li>
                <div><img class="friend-portrait" src="<%- theme.sourceRoot %>/css/images/li.jpg">
                    <span class="icon-play3"></span><span class="friend-remark">男友力爆表,挽着你逛街很happy,就像挽着自己的男朋友.是个独立的让人心疼,好强的让人心疼的女生,我好想你哦</span>
                </div>
            </li>
            <li>
                <div><img class="friend-portrait" src="<%- theme.sourceRoot %>/css/images/lina.png">
                    <span class="icon-play3"></span><span class="friend-remark">在阳光下会打喷嚏的女孩儿，只要她想就可以抓住所有人的眼光，敢爱敢恨，直来直往，当然啦，没事儿也丢丢东西，总之,为了1200w努力吧！</span>
                </div>
            </li>

        </ul>
    </div>
    <h2 class="title-bar">简简历</h2>
    <div class="resume">
        <div>公历1992年,出生于内蒙古自治区的一个小县城</div>
        <div>数十载 被散养+别人家的好孩子</div>
        <div>武汉理工大学2010届本科软件工程</div>
        <div>2014年夏,入职Thoughtworks</div>
        <div>2015年春,印度参加TWU(Thoughtworks university)</div>
        <div>2015年冬,个人博客网站开放</div>
        <div>在路上......</div>
    </div>
</div>
<%- partial('_partial/copyright') %>