<%- partial('_partial/header',{breadCrumb: [{name: 'about_me', path:  url_for(page.path)}]}) %>
<div id="about-me">
    <h3 class="title-bar"><%= __('friends-remark.title') %></h3>
    <div class="remark default-slider">
        <ul>
            <li>
                <div>
                    <div>
                        <img class="friend-portrait" src="<%- theme.sourceRoot %>/css/images/sen.jpg">
                        <span class="friend-tag"><%= __('friends-remark.sen.tag1') %></span>
                    </div>
                    <span class="icon-play3"></span><span class="friend-remark"><%= __('friends-remark.sen.remark') %></span>
                </div>
            </li>
            <li>
                <div>
                    <div>
                        <img class="friend-portrait" src="<%- theme.sourceRoot %>/css/images/dian.jpg">
                        <span class="friend-tag"><%= __('friends-remark.dian.tag1') %></span>
                        <span class="friend-tag"><%= __('friends-remark.dian.tag2') %></span>
                    </div>
                    <span class="icon-play3"></span><span class="friend-remark"><%= __('friends-remark.dian.remark') %></span>
                </div>
            </li>
            <li>
                <div>
                    <div>
                        <img class="friend-portrait" src="<%- theme.sourceRoot %>/css/images/li.jpg">
                        <span class="friend-tag"><%= __('friends-remark.li.tag1') %></span>
                        <span class="friend-tag"><%= __('friends-remark.li.tag2') %></span>
                    </div>
                    <span class="icon-play3"></span><span class="friend-remark"><%= __('friends-remark.li.remark') %></span>
                </div>
            </li>
            <li>
                <div>
                    <div>
                        <img class="friend-portrait" src="<%- theme.sourceRoot %>/css/images/lina.png">
                        <span class="friend-tag"><%= __('friends-remark.lina.tag1') %></span>
                        <span class="friend-tag"><%= __('friends-remark.lina.tag2') %></span>
                    </div>
                    <span class="icon-play3"></span><span class="friend-remark"><%= __('friends-remark.lina.remark') %></span>
                </div>
            </li>

        </ul>
    </div>
    <h3 class="title-bar"><%= __('simple-resume.title') %></h3>
    <div class="resume">
        <li><%= __('simple-resume.fir') %></li>
        <li><%= __('simple-resume.sec') %></li>
        <li><%= __('simple-resume.thi') %></li>
        <li><%= __('simple-resume.for') %></li>
        <li><%= __('simple-resume.fif') %></li>
        <li><%= __('simple-resume.six') %></li>
        <li><%= __('simple-resume.sev') %></li>
    </div>
</div>
<%- partial('_partial/copyright') %>