<% if (config.disqus_shortname){ %>
<script>
    //disqus
    var disqus_shortname = '<%= config.disqus_shortname %>';
    <% if (page.comments){ %>
    (function () {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    <% } %>
    (function () {
        var s = document.createElement('script');
        s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
<% } %>
<script type="text/javascript" src="<%- theme.sourceRoot %>/js/jquery.js"></script>
<script type="text/javascript" src="<%- theme.sourceRoot %>/js/morphext.min.js"></script>
<script type="text/javascript" src="<%- theme.sourceRoot %>/js/jquery.aniview.js"></script>
<% if(theme.internationalization){ %>
<script type="text/javascript" src="<%- theme.sourceRoot %>/js/lang_select.js"></script>
<% } %>
<% if(is_post()){ %>
<script>
    var breadCrumb='<a href="<%= theme.sourceRoot%>/"><%=__("bread-crumb.blogs")%></a>',
    refer=decodeURIComponent(document.referrer),
    comeFromArchives=/^.*archives\/(index.html)?$/,
    comeFromTag=/^.*tags\/(.*?)\/(index.html)?$/;

    if(refer.match(comeFromArchives)){
        breadCrumb+='--><a href="'+refer+'"><%=__("bread-crumb.archives")%></a>';
    }
    if(refer.match(comeFromTag)){
        var matches=refer.match(comeFromTag);
        breadCrumb+='--><a href="<%= theme.sourceRoot%>/tags"><%=__("bread-crumb.tags")%></a>/<a href="'+refer+'">'+matches[1]+'</a>'
    }
    breadCrumb+='--><a href="<%- url_for(page.path) %>"><%= page.title%></a>';
    $('.bread-crumb').html(breadCrumb);
</script>
<% } %>
<script>
    //Morphext
    $(document).ready(function () {
        $(".morphext").Morphext({
            // The [in] animation type. Refer to Animate.css for a list of available animations.
            animation: "bounceIn",
            // An array of phrases to rotate are created based on this separator. Change it if you wish to separate the phrases differently (e.g. So Simple | Very Doge | Much Wow | Such Cool).
            separator: ";",
            // The delay between the changing of each phrase in milliseconds.
            speed: 3800
        });
    });

</script>
<% if(page.type !== 'home'){ %>
<script type="text/javascript">
    //swiftype
    (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
        (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
        e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
    })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');
    _st('install','y5PjK1BpfpZYVdgmSGYL','2.0.0');
</script>
<script>
    $(".icon-menu").click(function(){
        $(".guider").toggleClass("guiderToShow");
    });
    $(".cb-bar > span").click(function(){
        $(this).toggleClass("closedarrow");
        $(this).toggleClass("openedarrow");
    })
</script>
<% } %>
<script>
    $(document).ready(function() {
        var options = {
            animateThreshold: 50,
            scrollPollInterval: 0
        };
        $('.aniview').AniView(options);
    });
</script>