<div class="archives aniview" av-animation="swing">
    <% var year %>
    <% site.posts.sort('date', -1).each(function(post) { %>
        <% post.year = date(post.date, 'YYYY')%>
        <% if( post.year !== year){ %>
            <% year = post.year; %>
            <li class="year"><%= year %></li>
        <% } %>
        <li><span><%=date(post.date, 'MM')%>-<%=date(post.date, 'DD')%></span><a href="<%- url_for(post.path) %>" class="article-title"><%= post.title %></a></li>
    <% }) %>
</div>
