<div class="aniview article-index-wrapper" av-animation="fadeIn">
    <header class="article-header">
        <h1>
        <a href="<%- url_for(post.path) %>" class="article-title"><%= post.title %> ››</a>
        </h1>
    </header>
    <div class="article-meta">
        <%- partial('post/date') %>
    </div>
    <div class="article-entry">
        <%- post.index %>
    </div>
    <div class="article-footer">
        <%- partial('post/tag') %>
        <%- partial('post/comments-count') %>
    </div>
</div>