<div class="article-index-wrapper">
    <header class="article-header">
        <%- partial('post/title') %>
    </header>
    <div class="article-meta">
        <%- partial('post/date') %>
    </div>
    <div class="article-entry">
        <%- post.index %>
    </div>
    <div class="article-footer">
        <%- partial('post/tag') %>
        <%- partial('post/comments-count') %>
    </div>
</div>