<div class="bread-crumb">
    <a href="<%- theme.sourceRoot%>/blog"><%= __('bread-crumb.blogs')%></a>
    <% if(is_archive()){ %>
    /<a href="<%- theme.sourceRoot%>/archives"><%= __('bread-crumb.archives')%></a>
    <% } else if(is_category()){ %>
    /<a href="<%- theme.sourceRoot%>/category"><%= __('bread-crumb.categories')%></a>
    <% } else if(page.title && page.title === 'tags'){ %>
    /<a href="<%- theme.sourceRoot%>/tags"><%= __('bread-crumb.tags')%></a>
    <% } else if(page.title && page.title!=='blog'){ %>
    /<a href="<%- theme.sourceRoot%><%- url_for(page.path) %>"><%= page.title %></a>
    <% } %>
</div>