<!DOCTYPE html>
<!--
	y           y    m              m
	 y         y     m m           mm
	  y       y      m  m         m m
	   y     y       m   m       m  m
	    y   y        m    m     m   m
	     y y         m     m   m    m
	      y          m      m m     m
	      y          m       m      m
	      y          m              m
	      y          m              m
	      y          m              m    theme by Yanmin
-->
<html lang="<%= page.lang %>">
<head>
    <meta charset="utf-8">
    <%
    var title = page.title;

    if (is_archive()) {
        title = "Archives";

        if (is_month()) {
            title += ': ' + page.year + '/ ' + page.month;
        } else if (is_year()) {
            title += ': ' + page.year;
        }
    } else if (is_category()) {
        title = 'Category: ' + page.category;
    } else if (is_tag()) {
        title = 'Tag:' + page.tag;
    }
    %>

    <title>
        <% if (title){ %>
        <%= title %> |
        <% } %>
        <%= config.title %></title>
    <!-- meta data -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <% if (theme.rss){ %>
    <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
    <% } %>
    <meta name="keywords" content="Yanmin,Blog">
    <% if (is_post() && page.index ){ %>
    <meta name="description" content=<%=  page.index %>>
    <% }else { %>
    <meta name="description" content="personal blog website.">
    <% } %>
    <meta name="author" content="Yanmin">
    <link rel="icon" type="image/png" href="/css/images/favicon.ico">
    <!-- Canonical links -->
    <link rel="canonical" href="<%= url %>">
    <%- css('css/style') %>
    <%- partial('_partial/google-analytics') %>
</head>
