<nav id="type-nav">
    <a href="<%- theme.sourceRoot%>/archives">
        <li class="left">
            <%= __('nav.archives')%>
        </li>
    </a>
    <a href="<%- theme.sourceRoot%>/categories">
        <li>
            <%= __('nav.categories')%>
        </li>
    </a>
    <a href="<%- theme.sourceRoot%>/tags">
        <li>
            <%= __('nav.tags')%>
        </li>
    </a>
    <a href="<%- theme.sourceRoot%>/wiki">
        <li class="right">
            <%= __('nav.wiki')%>
        </li>
    </a>
</nav>