<div class="sidebar">
    <span class="icon-menu"></span>
    <img class="master-portrait" src="/css/images/master_portrait.jpg">

    <p class="master-name"></p>

    <p class="hi">
        <span class="dropcap"><%= __('hi.hi') %></span>
        <span class="detail"><%= __('hi.introduction') %></span>
        <span class="icon-play3"></span>
        <span class="occupation morphext"><%= __('hi.thinking') %></span>
    </p>

    <div class="guider">
        <% for (var i in theme.menu){ %>
        <a class="main-nav-link"
           href="<%- theme.sourceRoot %> <%- url_for(theme.menu[i]) %>"><span><%= __('menu.' + i.toLowerCase()) %></span></a>
        <% } %>
    </div>

    <div class="link">
        <a href="http://www.github.com/ellmi" class="icon-link">www.github.com/ellmi</a>
        <a href="http://www.yanminx.com" class="icon-link">www.yanminx.com</a>
    </div>
</div>
